<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zoomicweb.sebastianberglonn" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
	versionCode="10010">
    <name>Currency converter for SEK - Zoomic Web</name>
    <description>
        A currency converter for SEK
    </description>
    <author email="sebastianberglonn@zoomicweb.com" href="http://zoomicweb.com">
        Sebastian Berglönn
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="http://api.fixer.io/latest?base=SEK" />
    <icon src="icon.png" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
</widget>
